* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    --desktop-width: 750px;
    --tablet-width: 420px;
}

/* HEADER */
header {
    background: linear-gradient(169deg, #1d386b 61%, #fff 39%);
    display: flex;
    height: 420px;
    justify-content: center;
}

.header-container {
    width: var(--desktop-width);
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img-container {
    background-image: url("./media/pictures/desk.jpg");
    background-position: 55%;
    background-size: cover;
    flex-basis: 300px;
    height: 300px;
    align-items: end;
    justify-content: center;
    display: flex;
    box-shadow: 2px 2px 4px #7e7c7c;
}

.profile-img-text {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

.about-container {
    flex-basis: 550px;
    /* align-self: center; */
    background-color: white;
    box-shadow: 2px 2px 4px #7e7c7c;
    padding: 15px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-title {
    font-weight: 500;
}

.about-text {
    font-size: 14px;
}

.about-icons {
    display: flex;
    justify-content: end;
}

.about-icons img {
    width: 20px;
    margin-right: 10px;
    transition: all 0.2s ease-out;
}

.about-icons img:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

#linkedin-icon {
    width: 32px;
}

#twitter-icon {
    width: 25px;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    padding: 45px 0;
}

.main-container {
    width: var(--desktop-width);
    display: flex;
    flex-direction: column;
}

.project-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.main-header {
    font-weight: 500;
}

.project {
    box-shadow: 2px 2px 4px #bdbaba;
}

.project-image {
    height: 150px;
    text-align: center;
    justify-items: center;
    align-content: center;
    font-size: 1.7rem;
    color: white;
}

.project-image.red {
    background-color: rgb(150, 29, 29);
}

.project-image.purple {
    background-color: rgb(160, 107, 221);
}

.project-image.green {
    background-color: rgb(61, 129, 61);
}

.project-image.pink {
    background-color: rgb(211, 134, 185);
}

.project-image.orange {
    background-color: rgb(221, 160, 47);
}

.project-image.blue {
    background-color: rgb(98, 195, 228);
}

.project-details img {
    justify-self: end;
    align-self: start;
}

.project-icon-github {
    width: 16px;
}
.project-icon-link {
    width: 18px;
}

.project-details img:hover {
    transform: scale(1.4);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.project-details {
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    row-gap: 8px;
    height: 120px;
}

.project-name {
    font-size: 0.9rem;
}

.project-description {
    grid-column: 1 / -1;
    font-size: 0.65rem;
}

/* FOOTER */

footer {
    background-color: #1d386b;
    color: white;
    margin-top: 20px;
    padding: 40px 0;
}

.footer-container {
    width: var(--desktop-width);
    justify-self: center;
    display: flex;
    justify-content: space-between;
}

.footer-image {
    width: 420px;
    height: 350px;
    object-fit: cover;
}

.contact-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.contact-header {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-description {
    font-size: 0.85rem;
    margin-bottom: 20px;
}

.address-street,
.address-city {
    font-size: 0.9rem;
}

.address-city {
    margin-bottom: 20px;
}

.contact {
    display: flex;
    margin-bottom: 12px;
    font-size: 0.9rem;
}

.contact img {
    width: 20px;
    color: white;
    filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(0%)
        hue-rotate(186deg) brightness(107%) contrast(106%);
    margin-right: 10px;
}

.icon-links {
    margin-top: 10px;
    display: flex;
}

.footer-icon-github {
    width: 28px;
    margin-right: 15px;
}

.footer-icon-linkedin {
    width: 40px;
    margin-right: 15px;
}

.footer-icon-twitter {
    width: 34px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(7477%)
        hue-rotate(325deg) brightness(109%) contrast(105%);
}

.icon-links img:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    /* HEADER SECTION  WIP */
    header {
        height: 480px;
    }

    .header-container {
        width: var(--tablet-width);
    }

    .profile-img-container {
        float: left;
        /* position: absolute; */
        margin-left: -130px;
        width: 300px;
    }

    .profile-img-text {
        position: absolute;
        top: 10px;
        left: 260px;
        text-wrap: nowrap;
    }

    .about-container {
        margin-top: 160px;
        height: 340px;
        width: var(--tablet-width);
        float: right;
    }

    .about-icons img {
        display: none;
    }
    /* MAIN SECTION */
    .main-container {
        width: var(--tablet-width);
        display: flex;
        flex-direction: column;
    }

    .project-container {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /* FOOTER SECTION */
    .footer-container {
        width: var(--tablet-width);
    }

    .footer-image {
        width: 180px;
        height: 270px;
    }

    .contact-header {
        font-size: 1.6rem;
    }

    .contact-description,
    .address-street,
    .address-city {
        font-size: 0.75rem;
    }
}
