* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* MAIN */
.project-icon-github {
    width: 20px;
}
.project-icon-link {
    width: 22px;
}
